*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}



body{
    display: flex;
    justify-content: center;
    background-image: url(images/lewismillerdesign.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

   
span{
    background-color: rgb(148, 7, 139);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:8px;
    border-radius: 10px;
    color: white;
}

.atom{
    display: flex;
    justify-content: space-evenly;
}

.ntoz{
    display: flex;
    justify-content: space-evenly;
}


.container{
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    background-color: white;
   margin-top: 30px;
    width: 1000px;
    height: 450px;
    border-radius: 20px;

}

.letters{
   /* background-color: rgb(168, 117, 188); */
   width: 800px;
   height: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
  
}

.hangman{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color:rgb(148, 7, 120);
}

.icons{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.mysteryword{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


/* change color of letters on click */
span active{
    background-color: rgb(191, 53, 145);
    color: rgb(97, 10, 111);
}

.littleflower{
    width: 50px;
    height: 50px;
}